
@{
    ViewData["Title"] = "MyApp2";
}

@section Header {
    
}
<h2>MyApp2</h2>

<div id="app"></div>

@section Scripts{

   <script src="/dist/vendors~myApp1~myApp2.a0b1.bundle_dynamic.js"></script>

   <script src="/dist/myApp2.a0b1.bundle.js"></script>

}
<script src="/dist/vendors~myApp1~myApp2.a0b1.bundle_dynamic.js"></script><script src="/dist/myApp2.a0b1.bundle.js"></script>