
@{
    ViewData["Title"] = "MyApp1";
}


@section Header {
    
}

<h2>MyApp1</h2>

<div id="app"></div>





@section Scripts{

   <script src="/dist/vendors~myApp1~myApp2.a0b1.bundle_dynamic.js"></script>

   <script src="/dist/myApp1.a0b1.bundle.js"></script>

   <script src="/dist/myApp1.27490815ee3d4a424854.hot-update.js"></script>

}



<script src="/dist/vendors~myApp1~myApp2.a0b1.bundle_dynamic.js"></script><script src="/dist/myApp1.a0b1.bundle.js"></script><script src="/dist/myApp1.27490815ee3d4a424854.hot-update.js"></script>